@model List<MenuClass>
@{
    ViewData["Title"] = "Menüler";
}

<div class="text-center  mx-auto" style="width: 80%">
    <div class="d-flex justify-content-between mb-5">
        <h3>Menüler</h3>
    </div>
    <div class="d-flex flex-column justify-content-start">
        @functions {
            void RenderMenu(List<MenuClass> items, long? parentId, string prefix)
            {
                var children = items.Where(x => x.ParentId == parentId).ToList();
                if (children.Any())
                {
                    <ul class="d-flex flex-column text-start">
                        @for (int i = 0; i < children.Count; i++)
                        {
                            var currentPrefix = string.IsNullOrEmpty(prefix) ? (i + 1).ToString() : prefix + "." + (i + 1);

                            <li>
                                @currentPrefix - @children[i].MenuAdi
                                @{
                                    RenderMenu(items, children[i].Id, currentPrefix);
                                }
                            </li>
                        }
                    </ul>
                }
            }
        }
    </div>

    @{
        RenderMenu(Model, 0, "");
    }


</div>
